In [31]:
import pandas as pd 
import numpy as np

In [32]:
new_dt=pd.read_csv("movies.csv")
new_dt.head(2)

,id,name,date,tagline,description,minute,rating
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56

In [33]:
actor=pd.read_csv("actors.csv")
actor.head()

        id               name    role
0  1000001      Margot Robbie  Barbie
1  1000001       Ryan Gosling     Ken
2  1000001    America Ferrera  Gloria
3  1000001  Ariana Greenblatt   Sasha
4  1000001           Issa Rae  Barbie

In [34]:
result = (
    actor.groupby("id")["name"]
      .apply(lambda names: names.head(3).tolist())
      .reset_index(name="top_3_names")
)

In [35]:
type(result['top_3_names'][0])

list

In [37]:
result.head(2)

        id                                     top_3_names
0  1000001  [Margot Robbie, Ryan Gosling, America Ferrera]
1  1000002     [Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]

In [38]:
new_dt=new_dt.merge(result,on='id')

In [39]:
new_dt.head(5)

,id,name,date,tagline,description,minute,rating,top_3_names
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]"
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]"
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu]"
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Edward Norton, Brad Pitt, Helena Bonham Carter]"
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09,"[Ryan Gosling, Emma Stone, John Legend]"

In [40]:
new_dt.rename(columns={'top_3_names':'cast'},inplace=True)
new_dt.head(3)

,id,name,date,tagline,description,minute,rating,cast
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]"
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]"
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu]"

In [41]:
new_dt.drop(columns={'minute','tagline'},inplace=True)

In [42]:
new_dt.head(3)

,id,name,date,description,rating,cast
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]"
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]"
2,1000003,Everything Everywhere All at Once,2022.0,An aging Chinese immigrant is swept up in an i...,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu]"

In [43]:
genres=pd.read_csv('genres.csv')

In [44]:
result=(
    genres.groupby("id")["genre"]
    .apply(lambda m : m.head().tolist())
)

In [45]:
new_dt=new_dt.merge(result,on='id')
new_dt.head(2)

,id,name,date,description,rating,cast,genre
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]","[Comedy, Adventure]"
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]","[Comedy, Thriller, Drama]"

In [46]:
crew=pd.read_csv("crew.csv")

In [47]:
crew = crew[crew["role"].isin(["Producer", "Director"])]
crew.head(3)

        id      role           name
0  1000001  Director   Greta Gerwig
1  1000001  Producer   Tom Ackerley
2  1000001  Producer  Margot Robbie

In [48]:
result=(
    crew.groupby("id")["name"]
    .apply(lambda m : m.head().tolist())
)

In [49]:
new_dt=new_dt.merge(result,on='id')
new_dt.head(2)

,id,name_x,date,description,rating,cast,genre,name_y
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]","[Comedy, Adventure]","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro..."
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]","[Comedy, Thriller, Drama]","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M..."

In [50]:
new_dt.rename(columns={'name_x':'Movie_name','name_y':'crew'},inplace=True)
new_dt.head(3)

,id,Movie_name,date,description,rating,cast,genre,crew
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]","[Comedy, Adventure]","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro..."
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]","[Comedy, Thriller, Drama]","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M..."
2,1000003,Everything Everywhere All at Once,2022.0,An aging Chinese immigrant is swept up in an i...,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu]","[Science Fiction, Adventure, Comedy, Action]","[Daniel Scheinert, Daniel Kwan, Joe Russo, Ant..."

In [51]:
studio=pd.read_csv("studios.csv")

In [52]:
result=(
    studio.groupby("id")["studio"]
    .apply(lambda m : m.head().tolist())
)

In [53]:
new_dt=new_dt.merge(result,on='id')
new_dt.head(2)

,id,Movie_name,date,description,rating,cast,genre,crew,studio
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]","[Comedy, Adventure]","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro...","[LuckyChap Entertainment, Heyday Films, NB/GG ..."
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]","[Comedy, Thriller, Drama]","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M...",[Barunson E&A]

In [54]:
themes=pd.read_csv("themes.csv")

In [55]:
result=(
    themes.groupby("id")["theme"]
    .apply(lambda m : m.head().tolist())
)

In [56]:
new_dt=new_dt.merge(result,on='id')
new_dt.head(2)

,id,Movie_name,date,description,rating,cast,genre,crew,studio,theme
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]","[Comedy, Adventure]","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro...","[LuckyChap Entertainment, Heyday Films, NB/GG ...","[Humanity and the world around us, Crude humor..."
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]","[Comedy, Thriller, Drama]","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M...",[Barunson E&A],"[Humanity and the world around us, Intense vio..."

In [57]:
new_dt.dropna(inplace=True)

In [58]:
new_dt['description']=new_dt['description'].apply(lambda x:x.split())
new_dt.head(2)

,id,Movie_name,date,description,rating,cast,genre,crew,studio,theme
0,1000001,Barbie,2023.0,"[Barbie, and, Ken, are, having, the, time, of,...",3.86,"[Margot Robbie, Ryan Gosling, America Ferrera]","[Comedy, Adventure]","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro...","[LuckyChap Entertainment, Heyday Films, NB/GG ...","[Humanity and the world around us, Crude humor..."
1,1000002,Parasite,2019.0,"[All, unemployed,, Ki-taek's, family, takes, p...",4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong]","[Comedy, Thriller, Drama]","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M...",[Barunson E&A],"[Humanity and the world around us, Intense vio..."

In [59]:
new_dt.isnull().sum()

id             0
Movie_name     0
date           0
description    0
rating         0
cast           0
genre          0
crew           0
studio         0
theme          0
dtype: int64

In [60]:
new_dt['cast']=new_dt['cast'].apply(lambda x:[i.replace(" ","") for i in x])
new_dt['crew']=new_dt['crew'].apply(lambda x:[i.replace(" ","") for i in x])
new_dt['studio']=new_dt['studio'].apply(lambda x:[i.replace(" ","") for i in x])
new_dt['description']=new_dt['description'].apply(lambda x:[i.replace(" ","") for i in x])
new_dt['theme']=new_dt['theme'].apply(lambda x:[i.replace(" ","") for i in x])
new_dt['genre']=new_dt['genre'].apply(lambda x:[i.replace(" ","") for i in x])

In [61]:
new_dt['tags']=new_dt['cast']+new_dt['crew']+new_dt['studio']+new_dt['description']+new_dt['theme']+new_dt['genre']
new_dt.head(2)

,id,Movie_name,date,description,rating,cast,genre,crew,studio,theme,tags
0,1000001,Barbie,2023.0,"[Barbie, and, Ken, are, having, the, time, of,...",3.86,"[MargotRobbie, RyanGosling, AmericaFerrera]","[Comedy, Adventure]","[GretaGerwig, TomAckerley, MargotRobbie, Robbi...","[LuckyChapEntertainment, HeydayFilms, NB/GGPic...","[Humanityandtheworldaroundus, Crudehumorandsat...","[MargotRobbie, RyanGosling, AmericaFerrera, Gr..."
1,1000002,Parasite,2019.0,"[All, unemployed,, Ki-taek's, family, takes, p...",4.56,"[SongKang-ho, LeeSun-kyun, ChoYeo-jeong]","[Comedy, Thriller, Drama]","[BongJoon-ho, JangYoung-hwan, KwakSin-ae, Moon...",[BarunsonE&A],"[Humanityandtheworldaroundus, Intenseviolencea...","[SongKang-ho, LeeSun-kyun, ChoYeo-jeong, BongJ..."

In [62]:
new_df=new_dt[['id','Movie_name','date','rating','tags']]
new_df.head(2)

,id,Movie_name,date,rating,tags
0,1000001,Barbie,2023.0,3.86,"[MargotRobbie, RyanGosling, AmericaFerrera, Gr..."
1,1000002,Parasite,2019.0,4.56,"[SongKang-ho, LeeSun-kyun, ChoYeo-jeong, BongJ..."

In [63]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))
new_df.head(2)

C:\Users\Asus\AppData\Local\Temp\ipykernel_24096\487388550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

,id,Movie_name,date,rating,tags
0,1000001,Barbie,2023.0,3.86,MargotRobbie RyanGosling AmericaFerrera GretaG...
1,1000002,Parasite,2019.0,4.56,SongKang-ho LeeSun-kyun ChoYeo-jeong BongJoon-...

In [64]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Asus\AppData\Local\Temp\ipykernel_24096\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [65]:
new_df.head(2)

,id,Movie_name,date,rating,tags
0,1000001,Barbie,2023.0,3.86,margotrobbie ryangosling americaferrera gretag...
1,1000002,Parasite,2019.0,4.56,songkang-ho leesun-kyun choyeo-jeong bongjoon-...

In [66]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [67]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [68]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Asus\AppData\Local\Temp\ipykernel_24096\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [69]:
new_df.head(2)

,id,Movie_name,date,rating,tags
0,1000001,Barbie,2023.0,3.86,margotrobbi ryangosl americaferrera gretagerwi...
1,1000002,Parasite,2019.0,4.56,songkang-ho leesun-kyun choyeo-jeong bongjoon-...

In [70]:
poster=pd.read_csv("posters.csv")

In [71]:
poster.isnull().sum()

id           0
link    180712
dtype: int64

In [72]:
new_df=new_df.merge(poster,on='id')
new_df.head(2)

,id,Movie_name,date,rating,tags,link
0,1000001,Barbie,2023.0,3.86,margotrobbi ryangosl americaferrera gretagerwi...,https://a.ltrbxd.com/resized/film-poster/2/7/7...
1,1000002,Parasite,2019.0,4.56,songkang-ho leesun-kyun choyeo-jeong bongjoon-...,https://a.ltrbxd.com/resized/film-poster/4/2/6...

In [73]:
new_df.rename(columns={'link':'posters','Movie_name':'title'},inplace=True)
new_df.head()

,id,title,date,rating,tags,posters
0,1000001,Barbie,2023.0,3.86,margotrobbi ryangosl americaferrera gretagerwi...,https://a.ltrbxd.com/resized/film-poster/2/7/7...
1,1000002,Parasite,2019.0,4.56,songkang-ho leesun-kyun choyeo-jeong bongjoon-...,https://a.ltrbxd.com/resized/film-poster/4/2/6...
2,1000003,Everything Everywhere All at Once,2022.0,4.30,michelleyeoh kehuyquan stephaniehsu danielsche...,https://a.ltrbxd.com/resized/film-poster/4/7/4...
3,1000004,Fight Club,1999.0,4.27,edwardnorton bradpitt helenabonhamcart davidfi...,https://a.ltrbxd.com/resized/film-poster/5/1/5...
4,1000005,La La Land,2016.0,4.09,ryangosl emmaston johnlegend damienchazel jord...,https://a.ltrbxd.com/resized/film-poster/2/4/0...

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [75]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [76]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [77]:
from sklearn.metrics.pairwise import cosine_similarity

In [78]:
similarity=cosine_similarity(vectors)

In [79]:
similarity[1]

array([0.06917145, 1.        , 0.09090909, ..., 0.03959038, 0.06741999,
       0.05504819])

In [80]:
new_df['title']=new_df['title'].apply(lambda x:x.lower())

In [81]:
def rec(movie):
    movie=(lambda x:x.lower())(movie)
    movies_idx= new_df[new_df['title']==movie].index[0]
    distances=similarity[movies_idx]
    mov_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in mov_list:
        print(new_df.iloc[i[0]].title)

In [82]:
rec('edge of tomorrow')

independents' day
invasion
future war
the blackout
battle for terra

In [83]:
import pickle

In [84]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [85]:
pickle.dump(similarity,open('simil.pkl','wb'))